@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    /* padding:5px; */
    padding: 0;
    margin: 0;

}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* Navbar section */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    margin: 0 3%;
}

.logo-img{
width: 50%;
}

   


.nav-links-list{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
    font-size: 1.3em;
  
}
.hamburger-menu{
    position: relative;
    display: none;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 24px;
    cursor: pointer;
}
.hamburger-icon span{
  cursor: pointer;
   width: 100%;
   height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;

    
}
/* .hamburger-links{
    /* display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left:-260px;
    /* right: 0;
    z-index: 100; 
    background-color: white;
    box-shadow: 0px 4px 6px black;

    border-radius: 10px;
    text-align:center;
    transition: all 0.3s ease-in-out;
    width: 300px;
    font-size: 1.5rem; 

      
     
   
} */
 .hamburger-links{
    display: none;;
    position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        width: 200px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
 }
 .hamburger-links a{
       display: block;
        padding: 1rem;
        text-align: center;
        font-size: 1.2rem;
        color: black;
        text-decoration: none;
        transition: all 0.3 ease-in-out;
 }
.hamburger-links li{
    list-style: none;
    padding: 0;
}
/* .hamburger-links li{
    padding: 10px;
    text-align: center;
} */
.hamburger-links.active{
    display: block;
    max-height: 500px;
    flex-direction: column;
}

.hamburger-icon.active span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.active span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

li a{
    text-decoration: none;
    color: black;
}
.resume-btn-container{
    display: flex;
    align-items: center;
   
  
}
.resume-btn{
    display: flex;
    align-items: center;
    background-color: #0f0f0f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    gap:10px;
    font-weight: 500;

     
}
.download-icon{
    width:20px;
    height: 20px;
    filter: invert(1);
    font-weight: 600;
}

/* HERO section */

.hero-container{
    display: flex;
    align-items: center;
    padding: 50px 5%;
    max-width: 100%;
    /* margin-top: 50px; */

}
.hero-text-container{
    display: flex;
    flex-direction: column;
     max-width: 50%;
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
.profile-image{
    width: 500px;
    height: 500px;
    object-fit: cover;
   border-radius: 50%;
   
  
    
}
.hero-section-heading{
    font-size: 3rem;
    font-weight: 400;
}
.span-bold{
    font-weight: 700;
}
.span-text {
    font-weight: 800;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
}

.hero-section-para{
    line-height: 1.7;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0;
}
.social-links{
    display: flex;
   
  
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 4px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 10%;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
.social-icon img{
    width: 40px;
    height: auto;
   transition: filter 0.5s ease-in-out;
}
.social-icon:hover{
    background-color: black;
}
.social-icon:hover img {
    /* mix-blend-mode: difference;*/
    filter: invert(1); 
}
/* About-Me Section */
.aboutme-container {
    padding: 50px 5%;
    /* margin-top: 50px; */

}

.aboutme-card-container {
    display: flex;
    justify-content: space-between;
   
    gap: 100px;

}

.aboutme-img-card {
 
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;

}

.aboutme-image {
    width: 500px;
    border-radius: 20px;
    border: 5px solid black;
    border-top: 3px solid black;


}

.aboutme-heading {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;

}

.aboutme-para {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0;
    max-width: 70%;
    
}
/*MY SKILLS SECTION */
.myskills-conatiner{
    padding: 50px 5%;
    /* margin-top: 200px; */
}
.section-heading{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}
.skills-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
    gap: 50px;  
    margin-top: 100px;
 
   
}
.skils-img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

   
   
}  
.skils-img-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    gap:10px;
    border: 3px solid black;
    border-radius: 5px;
    flex: 1 ;

} 
.skils-img-container p{
    font-size: 1.2rem;
    font-weight: 400;
}

.skills-image {
    width: 40px;
    height: 40px;
}

/* PROJECTS SECTION */
.Project-container{
    padding: 50px 5%;
    background-color: black;
    /* margin-top: 50px; */
}
.project-main-heading {
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}

.project-card{
    display: flex;
   justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 100px;
   
}
.project-card-img{
    display: flex;
   flex-wrap: wrap;
}


.project-card-img,
.project-card-list{
    max-width: 45%;
 

}
.project-image{
    max-width: 80%;
    border-radius: 30px;
    transition: transform 0.5s ease-in-out;

}
.project-heading{
    color:white;
    font-size: 2rem;
    text-align: left;
}
.project-para{
    color:#7c7c7c;
    font-size: 1.3rem;
    text-align: justify;
    max-width:90%

    }


.project-btn{
  /* padding: 10px 20px; */
   font-size:1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:10px;
    transform: 
    
 
}
.project-btn:hover{
    /* background-color: rgb(226, 197, 197); */
    transition: all 0.5s  ease-in-out;
    transform: scale(1.7);
}



/* Contact Me Section */
.contact-container{
    padding: 50px 5%;
    /* margin-top: 50px; */
    display: flex;
    flex-wrap:wrap;
  
  
}
.contact-form{
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 30%; 
   
}
.form-input,
.message-textarea{
    width: 90%;
    padding: 20px;
    border: 3px solid black;
    border-bottom: 2px solid black;
    border-radius: 5px;
    /* margin-bottom: 20px; */
    font-size: 1.3rem;
}
.contact-heading{
    font-size: 4rem;
    font-weight: 400;
    
}
.contact-btn{
    background-color: black;
    color: white;
    font-size: 1.3rem;
    padding: 30px ;
    text-align: left;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    border: none;
    /* align-self: center; */

  
   
}
.contact-social-links{
    display: flex;
  
  
}

.contact-text{
    width:50%;
    text-align: left;
    margin-left: 200px;
  
}

.message-textarea{
   height: 150px;
   resize: none;
}
.contact-para{
    font-size: 1.3rem;
    color: #7c7c7c;
    font-weight: 400;
    /* text-align: justify; */
    width: 65%;

}
.contact-para2{
    font-size:1.6rem;
}

/* Footer Section */
.Footer-caontainer{
    background-color: #0f0f0f;
    padding: 10px 5%;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .footer-para{
    font-size: 1.2rem;
    font-weight: 400;
  
 }

.footer-icon{
 padding: 10px;
 
   


}
@media only screen and (max-width:1250px){
    .aboutme-para{
        max-width: 100%;
    }

    .project-image{
        max-width: 100%;
    }
}
@media only screen and (max-width:1024px){
    .nav-links{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .hamburger-icon{
        width: 80px;
        height: 50px;
    }
    .hamburger-links.active{
        display: flex;
    }
    .resume-btn-container{
        display: none;
    }
        .resume-wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 30px;
        }
    .hero-container{
        flex-direction: column-reverse;
       
   }
  .hero-text-container {
     max-width: 100%;
    }

.aboutme-card-container {
    flex-direction: column;
   
}
.aboutme-para {
      max-width: 100%;
  }

 
 .skils-img-container div {

    flex:auto;
    width:316px;
   
  
 }   

 .project-card-img,
.project-card-list {
    max-width: 100%
} 
 .right-side{
    flex-direction: column-reverse;
}
 .contact-form{ 
    width: 70%;
   
} 
.contact-text {
    width: 100%; 
  
    margin-left: 0;

 
}
 .contact-para{
    width: 100%;


}  
}


@media only screen and (max-width:769px){
  
  
    .hero-container{
        flex-direction: column-reverse;
    }

    .hero-text-container{
        max-width: 100%;
    }
    .hamburger-icon{
        width: 60px;
        height: 40px;
    }
    .logo-img{
        width: 40%;
    }
 .social-icon {
    padding:10px;
 }

   .hero-section-heading,
   .aboutme-heading,
   .section-heading,
   .project-main-heading,
   .contact-heading {
       font-size: 2.5rem;
   }
   .hero-section-para,
   .aboutme-para-container,
   .project-para,
   .contact-para {
       font-size: 1.2rem;

   }

    .aboutme-card-container{
        flex-direction: column;
        gap:10px;
    }
       
   .skils-img-container div {
       flex:none;
        width:102px;
       
      
     }  
    .project-card-img,
    .project-card-list {
        max-width: 100%
    } 
          .right-side{
        flex-direction: column-reverse;
    }
          .contact-form{ 
        width: 70%;
       
    } 
        .contact-text {
        width: 100%; 
      
        margin-left: 0;
    
     
    } 
          .contact-para{
        width: 100%;
     
    
    
    } 

}

@media only screen and (max-width:576px){
.hero-section-heading,
.aboutme-heading,
.section-heading,
.project-main-heading,
.contact-heading{
    font-size: 2rem;
}
.hero-section-para,
.aboutme-para-container,
.project-para,
.contact-para{
    font-size: 1rem;

}
 .hamburger-icon {
    width: 40px;
    height: 28px;
 }

 
.social-icon{
    padding: 10px;
    margin: 7px;
    width:30px;
    height:30px;
}


 .myskills-conatiner{
 margin-top: -56px;
}
 
 .project-heading{
    font-size:1.5rem;
 

 }
.footer-para{
    font-size: 1.2rem;
}
.footer-icon{
    padding: 3px;

}
.form-input,
.message-textarea {
    font-size: 1rem;
}
.contact-btn{
    width:150px;
    padding: 20px;
    font-size: 1rem;
}
}
@media only screen and (max-width:450px){
.logo-img {
    width: 20%;
    }
    .hero-section-heading,
    .aboutme-heading,
    
    .section-heading,
    .project-main-heading,
    .contact-heading{
        font-size: 1.8rem;
    }
    .hero-section-para,
   
    .project-para,
    .contact-para,
    .aboutme-para{
        font-size: 14px;

    }
    .project-btn{
        /* padding: 10px 15px; */
        font-size: 1.2rem;
    }
    .profile-image{
        width: 300px;
        height: 300px;
    }
    .aboutme-image{
        width:100%;
    }
    .contact-para2{
        font-size: 1rem;


    }

  .footer-para {
      font-size: 12px;
    
}
 .footer-icon {
    padding: 0;
    margin: 5px;
    /* border: 1px solid black; */
    

}

}